# DNA Sequence Classification

DNA sequences can be classified in different ways. This demo shows how to build a system with Milvus 2.0 and postgres to determine gene families for DNA sequences and compare similarity between different organisms. It uses k-mer and CountVectorizer to extract features and get embeddings for dna sequences.

## Data

Sample data is downloaded from [Kaggle](https://www.kaggle.com/nageshsingh/dna-sequence-dataset?select=human.txt). This demo uses 6882 DNA sequences for 3 organisms: human (4380), chimpanzee (1682), dog (820), each of which has lines of DNA sequences with corresponding classes in a text file.

     - data:
        - human_data.txt
        - chimp_data.txt
        - dog_data.txt

Each text file consists of a head line and lines of sequence (a sequence consisting of bases [A, C, G, T]) with its class (an integer from 0 to 6). Sample:
                       
     sequence class
     GCTGCTGCCCCAGCACCAGGTGTCCGCGTACTGA	6
     CACCGGCCCTCCAGGGTCCAGCTGGTGCCCCAGGACACCATGACCAGCAGGGCCTAA	0

Our DNA sequences are classified into different gene families by class. A gene family is a group of related genes sharing a common ancestor. Members of one gene family may be paralogs or orthologs: gene with similar sequences from same or different species. See explanations for 7 classes in our dataset: [Kaggle](https://www.kaggle.com/nageshsingh/demystify-dna-sequencing-with-machine-learning)

| Gene family | Class label |
|:---|---|
| G protein coupled receptors | 0 |
| Tyrosine kinase | 1 |
| Tyrosine phosphatase | 2 |
| Synthetase | 3 |
| Synthase | 4 |
| Ion channel | 5 |
| Transcription | 6 |
     

## Requirements

We will run codes with python3 and start [Milvus2.0 (Standalone)](https://milvus.io/docs/v2.0.0/install_standalone-docker.md) & postgres with [docker](https://docs.docker.com/get-docker/). Required python modules are listed in `requirements.txt` to install.

|    Packages    |     Servers    |
| --------------- | -------------- |
| pymilvus-orm==2.0.0rc1 | milvus-2.0.0-rc1 |
|    sklearn    |    mysql    |
|   pymysql   |
|     numpy   |
| pickle-mixin |

## Up and Running

### Install Packages

Install the required python packages with requirements.txt.

In [1]:
!pip install -r requirements.txt

Collecting pymilvus-orm==2.0.0rc1
  Using cached pymilvus_orm-2.0.0rc1-py3-none-any.whl (35 kB)
Collecting sklearn
  Using cached sklearn-0.0-py2.py3-none-any.whl
Collecting pymysql
  Using cached PyMySQL-1.0.2-py3-none-any.whl (43 kB)
Collecting numpy
  Downloading numpy-1.21.1-cp37-cp37m-macosx_10_9_x86_64.whl (16.9 MB)
     |████████████████████████████████| 16.9 MB 7.6 MB/s eta 0:00:01    |██████████                      | 5.3 MB 4.5 MB/s eta 0:00:03
Collecting pickle-mixin
  Using cached pickle_mixin-1.0.2-py3-none-any.whl
Collecting fastapi
  Using cached fastapi-0.67.0-py3-none-any.whl (51 kB)
Collecting pandas==1.2.4
  Using cached pandas-1.2.4-cp37-cp37m-macosx_10_9_x86_64.whl (10.4 MB)
Collecting pymilvus==2.0.0rc1
  Using cached pymilvus-2.0.0rc1-py3-none-any.whl (70 kB)
Collecting pytz>=2017.3
  Using cached pytz-2021.1-py2.py3-none-any.whl (510 kB)
Requirement already satisfied: python-dateutil>=2.7.3 in /Users/mengjiagu/opt/anaconda3/envs/test3.7/lib/python3.7/site-packages (from pandas==1.2.4->pymilvus-orm==2.0.0rc1->-r requirements.txt (line 1)) (2.8.1)
Collecting mmh3
  Using cached mmh3-3.0.0-cp37-cp37m-macosx_10_9_x86_64.whl (12 kB)
Collecting requests>=2.22.0
  Using cached requests-2.26.0-py2.py3-none-any.whl (62 kB)
Collecting grpcio<1.38.0,>=1.22.0
  Using cached grpcio-1.37.1-cp37-cp37m-macosx_10_10_x86_64.whl (3.9 MB)
Collecting grpcio-tools<1.38.0,>=1.22.0
  Using cached grpcio_tools-1.37.1-cp37-cp37m-macosx_10_10_x86_64.whl (2.0 MB)
Collecting ujson>=2.0.0
  Using cached ujson-4.0.2-cp37-cp37m-macosx_10_14_x86_64.whl (45 kB)
Requirement already satisfied: six>=1.5.2 in /Users/mengjiagu/opt/anaconda3/envs/test3.7/lib/python3.7/site-packages (from grpcio<1.38.0,>=1.22.0->pymilvus==2.0.0rc1->pymilvus-orm==2.0.0rc1->-r requirements.txt (line 1)) (1.15.0)
Requirement already satisfied: setuptools in /Users/mengjiagu/opt/anaconda3/envs/test3.7/lib/python3.7/site-packages (from grpcio-tools<1.38.0,>=1.22.0->pymilvus==2.0.0rc1->pymilvus-orm==2.0.0rc1->-r requirements.txt (line 1)) (52.0.0.post20210125)
Collecting protobuf<4.0dev,>=3.5.0.post1
  Using cached protobuf-3.17.3-cp37-cp37m-macosx_10_9_x86_64.whl (1.0 MB)
Collecting idna<4,>=2.5
  Using cached idna-3.2-py3-none-any.whl (59 kB)
Requirement already satisfied: certifi>=2017.4.17 in /Users/mengjiagu/opt/anaconda3/envs/test3.7/lib/python3.7/site-packages (from requests>=2.22.0->pymilvus==2.0.0rc1->pymilvus-orm==2.0.0rc1->-r requirements.txt (line 1)) (2020.6.20)
Collecting urllib3<1.27,>=1.21.1
  Using cached urllib3-1.26.6-py2.py3-none-any.whl (138 kB)
Collecting charset-normalizer~=2.0.0
  Downloading charset_normalizer-2.0.3-py3-none-any.whl (35 kB)
Collecting scikit-learn
  Using cached scikit_learn-0.24.2-cp37-cp37m-macosx_10_13_x86_64.whl (7.2 MB)
Collecting starlette==0.14.2
  Using cached starlette-0.14.2-py3-none-any.whl (60 kB)
Collecting pydantic!=1.7,!=1.7.1,!=1.7.2,!=1.7.3,!=1.8,!=1.8.1,<2.0.0,>=1.6.2
  Using cached pydantic-1.8.2-cp37-cp37m-macosx_10_9_x86_64.whl (2.6 MB)
Collecting typing-extensions>=3.7.4.3
  Using cached typing_extensions-3.10.0.0-py3-none-any.whl (26 kB)
Collecting joblib>=0.11
  Using cached joblib-1.0.1-py3-none-any.whl (303 kB)
Collecting scipy>=0.19.1
  Using cached scipy-1.7.0-cp37-cp37m-macosx_10_9_x86_64.whl (31.9 MB)
Collecting threadpoolctl>=2.0.0
  Using cached threadpoolctl-2.2.0-py3-none-any.whl (12 kB)
Installing collected packages: urllib3, protobuf, numpy, idna, grpcio, charset-normalizer, ujson, typing-extensions, threadpoolctl, scipy, requests, pytz, mmh3, joblib, grpcio-tools, starlette, scikit-learn, pymilvus, pydantic, pandas, sklearn, pymysql, pymilvus-orm, pickle-mixin, fastapi
Successfully installed charset-normalizer-2.0.3 fastapi-0.67.0 grpcio-1.37.1 grpcio-tools-1.37.1 idna-3.2 joblib-1.0.1 mmh3-3.0.0 numpy-1.21.1 pandas-1.2.4 pickle-mixin-1.0.2 protobuf-3.17.3 pydantic-1.8.2 pymilvus-2.0.0rc1 pymilvus-orm-2.0.0rc1 pymysql-1.0.2 pytz-2021.1 requests-2.26.0 scikit-learn-0.24.2 scipy-1.7.0 sklearn-0.0 starlette-0.14.2 threadpoolctl-2.2.0 typing-extensions-3.10.0.0 ujson-4.0.2 urllib3-1.26.6

### Start Milvus

Download and save docker-compose.standalone.yml as docker-compose.yml. Start Milvus2.0 with docker-compose.

In [2]:
!wget https://raw.githubusercontent.com/milvus-io/milvus/master/deployments/docker/standalone/docker-compose.yml -O docker-compose.yml
!docker-compose up -d

--2021-07-22 19:08:52--  https://raw.githubusercontent.com/milvus-io/milvus/master/deployments/docker/standalone/docker-compose.yml
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1543 (1.5K) [text/plain]
Saving to: ‘docker-compose.yml’

docker-compose.yml  100%[===================>]   1.51K  --.-KB/s    in 0s

2021-07-22 19:08:52 (6.57 MB/s) - ‘docker-compose.yml’ saved [1543/1543]

Creating milvus-minio ...
Creating milvus-etcd  ...
ting milvus-etcd  ... doneCreating milvus-standalone ...
ting milvus-standalone ... done

### Start Mysql

Milvus2.0 does not suppport string for now. Start mysql as docker container to store and recall non-vector attributes of DNA sequences (eg. id, label/class).

In [3]:
!docker run -p 3306:3306 -e MYSQL_ROOT_PASSWORD=123456 -d --name qa_mysql mysql:5.7

aab0d839d6b0731dcb404a8fb7aae50d7a9024cd5855ff3372bf975338149498

### Check Status

In [4]:
!docker ps

CONTAINER ID   IMAGE                                         COMMAND                  CREATED              STATUS                        PORTS                                                  NAMES
aab0d839d6b0   mysql:5.7                                     "docker-entrypoint.s…"   52 seconds ago       Up 50 seconds                 0.0.0.0:3306->3306/tcp, :::3306->3306/tcp, 33060/tcp   qa_mysql
975bc1c6db75   milvusdb/milvus:v2.0.0-rc2-20210712-a8e5fd2   "/tini -- milvus run…"   About a minute ago   Up About a minute             0.0.0.0:19530->19530/tcp, :::19530->19530/tcp          milvus-standalone
93b6e9dca8b8   minio/minio:RELEASE.2020-12-03T00-03-10Z      "/usr/bin/docker-ent…"   About a minute ago   Up About a minute (healthy)   9000/tcp                                               milvus-minio
258e67143086   quay.io/coreos/etcd:latest                    "etcd -listen-peer-u…"   About a minute ago   Up About a minute (healthy)   2379-2380/tcp                                          milvus-etcd

## Code Overview

### Connect to Servers

Connect to servers with hosts & ports. In this case, the docker containers are running on localhost and the default ports.

In [21]:
from pymilvus_orm import *
import pymysql

connections.connect(host='localhost', port='19530')
conn = pymysql.connect(host='localhost', user='root', port=3306, password='123456', database='mysql',local_infile=True)
cursor = conn.cursor()

### Create Collection, Partitions, Index in Milvus

#### 1. Create Collection

Set collection name and dimension value. Create a collection with fields.
- Collection name: dna_seq
- Dimension: 768
- Fields: pk (primary keys), embedding (dna sequence embeddings)

In [22]:
import time

time.sleep(.1)

collection_name = "dna_seq"
dim = 768

# Drop the previously stored collection for a clear run
if utility.has_collection(collection_name) == True:
    collection = Collection(collection_name)
    collection.drop()

# Set fields & schema
all_fields = [
        schema.FieldSchema(name="pk", dtype=DataType.INT64, is_primary=True),
        schema.FieldSchema(name="embedding", dtype=DataType.FLOAT_VECTOR, dim=dim)
        #schema.FieldSchema(name="class", dtype=DataType.STRING)
        ]
default_schema = schema.CollectionSchema(fields=all_fields, 
                                         description="DNA recognition: kmers & vectorizer", 
                                         auto_id=False)

# Create collection
DNA_collection = Collection(name=collection_name, data=None, schema=default_schema)

# Check if collection is successfully created
if utility.has_collection(collection_name):
    print(
    "Collection is successfully created: " + collection_name)
else:
    raise Exception("Fail to create collection: " + collection_name)

Collection is successfully created: dna_seq

#### 2. Create Partitions

Create 3 partitions with proper names: human, chimp, dog

In [23]:
human_partition = DNA_collection.create_partition('human')
chimp_partition = DNA_collection.create_partition('chimp')
dog_partition = DNA_collection.create_partition('dog')

DNA_collection.partitions

[{"name": "_default", "description": "", "num_entities": 0},
 {"name": "human", "description": "", "num_entities": 0},
 {"name": "chimp", "description": "", "num_entities": 0},
 {"name": "dog", "description": "", "num_entities": 0}]

#### 3. Set Index

Set index parameters after collection is created. Here index type is IVF_SQ8 and metric type is Inner Product.

In [24]:
index_params = {
    'index_type': 'IVF_SQ8',
    'params': {'nlist': 512},
    'metric_type': 'IP'
    }

DNA_collection.create_index(field_name="embedding", index_params=index_params)

# Check if index is successfully set
if DNA_collection.has_index():
    print("Index is successfully set for collection " + collection_name)
else:
    raise Exception("Fail to set index for collection " + collection_name)

Index is successfully set for collection dna_seq

### Create Table in Mysql

Create a table with collection name in mySQL to store milvus ids (i.e. field "pk") and corresponding labels.

In [25]:
# Delete previously stored table for a clean run
drop_table = "DROP TABLE IF EXISTS " + collection_name + ";"
cursor.execute(drop_table)

try:
    sql = "CREATE TABLE if not exists " + collection_name + " (pk TEXT, label TEXT);"
    cursor.execute(sql)
    print("create MySQL table successfully!")
except Exception as e:
    print("can't create a MySQL table: ", e)

create MySQL table successfully!

### Process & Store Datasets

#### 1. Get Data

Read data from text files as dataframes. Rebuild data and replace original columns with:
- sequence --> subsequences by [k-mer](https://en.wikipedia.org/wiki/K-mer#:~:text=Usually%2C%20the%20term%20k%2Dmer,total%20possible%20k%2Dmers%2C%20where) (k=5)
- class --> label declaring organism & class (e.g. human: 0)

In [26]:
import numpy as np
import pandas as pd

# Function to get k-mers for sequence s
def build_kmers(s, k):
    kmers = []
    n = len(s) - k + 1

    for i in range(n):
        kmer = s[i : i+k].upper()
        kmers.append(kmer)

    return kmers

# Function to replace sequence column with kmers in df
def seq_to_kmers(df):
    df['kmers'] = df.apply(lambda x: build_kmers(x['sequence'], 4), axis =1)
    df = df.drop(['sequence'],axis=1)


# Read files
human = pd.read_table('./data/human_data.txt')
human = human.sample(frac=1, random_state=2021).reset_index(drop=True)
chimp = pd.read_table('./data/chimp_data.txt')
dog = pd.read_table('./data/dog_data.txt')

# Replace classes with labels (organism: class)
human['label']=['human: ' + str(x) for x in human['class']]
human = human.drop(['class'], axis=1)
chimp['label']=['chimp: ' + str(x) for x in chimp['class']]
chimp = chimp.drop(['class'], axis=1)
dog['label']=['dog: ' + str(x) for x in dog['class']]
dog = dog.drop(['class'], axis=1)

seq_to_kmers(human)
seq_to_kmers(chimp)
seq_to_kmers(dog)

# Combine all dataframes
#df = human.append(chimp).append(dog)
#df = df.sample(frac=1,random_state=1)
#seq_to_kmers(df)

print(human.head())
#print(chimp.head())
#print(dog.head())

                                            sequence     label  \
0  ATGGAAAATGGCTGCCTGCTTAACTATCTCAGGGAGAATAAAGGAA...  human: 1
1  ATGCGTGGCTTCAACCTGCTCCTCTTCTGGGGATGTTGTGTTATGC...  human: 0
2  NGGCTCTGGGGGCTCCTTCCCCCTGGGCCACCAGCCCTGGCTTGGA...  human: 1
3  ATGGCCCGAAGACCCCGGCACAGCATATATAGCAGTGACGAGGATG...  human: 6
4  TGCTGTGGTGCCATCCTGTTCCCCGTAGTCTGGTCCATCCGGCATC...  human: 0

                                               kmers
0  [ATGG, TGGA, GGAA, GAAA, AAAA, AAAT, AATG, ATG...
1  [ATGC, TGCG, GCGT, CGTG, GTGG, TGGC, GGCT, GCT...
2  [NGGC, GGCT, GCTC, CTCT, TCTG, CTGG, TGGG, GGG...
3  [ATGG, TGGC, GGCC, GCCC, CCCG, CCGA, CGAA, GAA...
4  [TGCT, GCTG, CTGT, TGTG, GTGG, TGGT, GGTG, GTG...

Get lists of texts for DNA sequences in k-mers & labels. Split 20 human data to test search performance.

In [27]:
# Get lists of sequences in k-mers and labels in text from dataframe
def mydata(df):
    texts = []
    labels = []
    words = list(df['kmers']) # list of all sequences in kmers

    for i in range(len(words)):
        texts.append(' '.join(words[i])) 
    
    for x in df['label']:
        labels.append(x)

    if len(texts)!=len(labels):
        raise Exception("Texts & labels length are not equal!")
        
    return (texts, labels)
    
human_texts, human_labels = mydata(human)
chimp_texts, chimp_labels = mydata(chimp)
dog_texts, dog_labels = mydata(dog)

# Split human data to test search performance
test_texts = human_texts[-20:]
actual_labels = human_labels[-20:]
human_texts = human_texts[:-20]
human_labels = human_labels[:-20]

train_texts = human_texts + chimp_texts + dog_texts
train_labels = human_labels + chimp_labels + dog_labels

print("train row count:", len(train_texts))
print("human({})".format(str(len(human_texts)))
      +" chimp({})".format(str(len(chimp_texts)))
      +" dog({})".format(str(len(dog_texts))))
print("test row count:", len(test_texts))

train row count: 6101
human(3609) chimp(1675) dog(817)
test row count: 20

#### 2. Generate Embeddings

Extract features for DNA sequences (after k-mers) by `CountVectorizer` with previously declared dimension. Normalize output by `sklearn.preprocessing` to get final embeddings.

In [28]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn import preprocessing

# Transform sequences in kmers to vectors
def char_to_vec(v_model, text):
    V = v_model.transform(text).toarray()
    #features = vectorizer.get_feature_names()
    embeddings = preprocessing.normalize(V)
    return embeddings

# Train vectorizer model 
vectorizer = CountVectorizer(ngram_range=(4,4), max_features=dim)
X = vectorizer.fit_transform(train_texts).toarray()
train_emb = list(preprocessing.normalize(X))
# print(vectorizer.get_feature_names())

human_emb = train_emb[:len(human_texts)]
chimp_emb = train_emb[len(human_texts):(len(human_texts)+len(chimp_texts))]
dog_emb = train_emb[(len(human_texts)+len(chimp_texts)):len(train_texts)]

#### 3. Insert data

##### Insert to Milvus

Insert all embeddings to corresponding partitions with proper primary keys. Don't insert if there exists previous data in collection.

In [29]:
human_pk = [x for x in range(len(human_emb))]
chimp_pk = [x for x in range(len(human_emb), len(human_emb)+len(chimp_emb))]
dog_pk = [x for x in range(len(human_emb)+len(chimp_emb), len(train_emb))]

if DNA_collection.num_entities == 0:
    DNA_human = DNA_collection.insert([human_pk, human_emb], partition_name='human')
    DNA_chimp = DNA_collection.insert([chimp_pk, chimp_emb], partition_name='chimp')
    DNA_dog = DNA_collection.insert([dog_pk, dog_emb], partition_name='dog')

    if DNA_collection.is_empty:
        print("Insert collection failed.")
    else:
        print(DNA_collection.partitions)
else:
    print("Previous data in this collection!")

[{"name": "_default", "description": "", "num_entities": 0}, {"name": "human", "description": "", "num_entities": 3609}, {"name": "chimp", "description": "", "num_entities": 1675}, {"name": "dog", "description": "", "num_entities": 817}]

##### Insert to Mysql

Insert primary keys in Milvus and corresponding labels into Mysql.

In [30]:
import os 

# Combine pk and label into a list
def format_data(pk, label):
    data = []
    for i in range(len(pk)):
        value = (str(pk[i]), label[i])
        data.append(value)
    return data

def load_data_to_mysql(cursor, conn, table_name, data):
    sql = "insert into " + table_name + " (pk,label) values (%s,%s);"
    try:
        cursor.executemany(sql, data)
        conn.commit()
        print("MYSQL loads data to table: {} successfully".format(table_name))
    except Exception as e:
        print("MYSQL ERROR: {} with sql: {}".format(e, sql))

all_pk = human_pk + chimp_pk + dog_pk
load_data_to_mysql(cursor, conn, collection_name, format_data(all_pk, train_labels))

MYSQL loads data to table: dna_seq successfully

### Search

Load collection. Set search parameters with Inner Product as metric_type and nprobe of 20.

In [31]:
DNA_collection.load()
search_params = {"metric_type": "IP", "params": {"nprobe": 20}}

#### 1. Classify DNA Sequences

The aim is to classify 20 human DNA sequences with labels. Inputs are pre-processed subsequences in text by k-mers (k=4).

In [32]:
pd.DataFrame(test_texts).head(5)

                                                   0
0  ATGT TGTC GTCT TCTG CTGG TGGG GGGG GGGT GGTG G...
1  ATGG TGGA GGAT GATG ATGA TGAA GAAG AAGA AGAA G...
2  GCCG CCGA CGAG GAGT AGTA GTAT TATG ATGA TGAA G...
3  ATGG TGGC GGCC GCCC CCCA CCAG CAGC AGCC GCCC C...
4  NNTG NTGA TGAC GACA ACAG CAGC AGCA GCAG CAGT A...

Transform each input to vector with pre-trained vectorizer model.

In [33]:
def get_vector(text, vectorizer):
    x = vectorizer.transform(text).toarray()
    return list(preprocessing.normalize(x))

test_emb = get_vector(test_texts, vectorizer)

Search for top 10 results in human partition for each input vector

In [34]:
start_time = time.time()
print(f"\nSearch...")
# define output_fields of search result
res = DNA_collection.search(test_emb, "embedding", search_params,
                                    limit=10, partition_names=['human'])
end_time = time.time()
print("search latency = %.4fs" % (end_time - start_time))

Search...
search latency = 0.0792s

Display search result (recall labels from mysql by result ids)

In [35]:
def get_label_by_pk(cursor, m_pk, table_name):
    sql = "select label from " + table_name + " where pk=" + str(m_pk) +";"
    try:
        cursor.execute(sql)
        myresult = cursor.fetchall()
        myresult = [x[0] for x in myresult]
        return myresult
    except Exception as e:
        print("MYSQL ERROR: {} with sql: {}".format(e, sql))
        
for i in range(len(res)):
    print("\nSearch for '{}'".format(actual_labels[i]))
    print('[label]', 'distance')
    for x in res[i]:
        C = get_label_by_pk(cursor, str(x.id), collection_name)
        D = x.distance
        print(C, D)

Search for 'human: 1'
[label] distance
['human: 1'] 0.9450757503509521
['human: 1'] 0.7422963380813599
['human: 1'] 0.6540967226028442
['human: 1'] 0.5550222992897034
['human: 1'] 0.5497077703475952
['human: 5'] 0.34349900484085083
['human: 3'] 0.3374307453632355
['human: 5'] 0.334918349981308
['human: 5'] 0.334236741065979
['human: 5'] 0.33349767327308655

Search for 'human: 6'
[label] distance
['human: 6'] 0.8702723979949951
['human: 6'] 0.67112135887146
['human: 6'] 0.6579180955886841
['human: 6'] 0.6579180955886841
['human: 6'] 0.6056888103485107
['human: 6'] 0.3893663287162781
['human: 6'] 0.38837116956710815
['human: 6'] 0.3786880373954773
['human: 6'] 0.3786880373954773
['human: 6'] 0.37562549114227295

Search for 'human: 0'
[label] distance
['human: 0'] 0.561901867389679
['human: 0'] 0.3902236521244049
['human: 0'] 0.3556520938873291
['human: 0'] 0.35561567544937134
['human: 0'] 0.34723198413848877
['human: 0'] 0.33800268173217773
['human: 0'] 0.251504510641098
['human: 4'] 0.238668292760849
['human: 1'] 0.2321547567844391
['human: 1'] 0.2236199975013733

Search for 'human: 6'
[label] distance
['human: 6'] 0.47377529740333557
['human: 1'] 0.4195064902305603
['human: 0'] 0.4168679416179657
['human: 1'] 0.41614317893981934
['human: 1'] 0.4137476086616516
['human: 5'] 0.4123908281326294
['human: 6'] 0.4118211269378662
['human: 6'] 0.4115660488605499
['human: 5'] 0.41095662117004395
['human: 6'] 0.4108020067214966

Search for 'human: 3'
[label] distance
['human: 3'] 0.5421205163002014
['human: 2'] 0.3211418092250824
['human: 2'] 0.321071982383728
['human: 0'] 0.3156488537788391
['human: 2'] 0.31419122219085693
['human: 0'] 0.3090417683124542
['human: 0'] 0.30887463688850403
['human: 0'] 0.3084040582180023
['human: 1'] 0.3079562187194824
['human: 2'] 0.3075237274169922

Search for 'human: 6'
[label] distance
['human: 6'] 0.9713033437728882
['human: 6'] 0.9229640364646912
['human: 6'] 0.7372866272926331
['human: 6'] 0.7247106432914734
['human: 6'] 0.6711876392364502
['human: 6'] 0.6485116481781006
['human: 6'] 0.6471219658851624
['human: 6'] 0.6439886093139648
['human: 6'] 0.6128034591674805
['human: 2'] 0.5042526125907898

Search for 'human: 6'
[label] distance
['human: 6'] 0.9984890222549438
['human: 6'] 0.9437240958213806
['human: 6'] 0.7079021334648132
['human: 2'] 0.6230461597442627
['human: 4'] 0.6172001361846924
['human: 4'] 0.6166049838066101
['human: 6'] 0.6138026714324951
['human: 2'] 0.6111201047897339
['human: 1'] 0.6063146591186523
['human: 1'] 0.6061341762542725

Search for 'human: 6'
[label] distance
['human: 6'] 1.0000104904174805
['human: 6'] 0.9829837083816528
['human: 6'] 0.9825929999351501
['human: 6'] 0.9672328233718872
['human: 6'] 0.9670814275741577
['human: 6'] 0.9543920755386353
['human: 6'] 0.9534107446670532
['human: 6'] 0.9463043808937073
['human: 6'] 0.9463043808937073
['human: 6'] 0.9420653581619263

Search for 'human: 1'
[label] distance
['human: 1'] 0.980971097946167
['human: 1'] 0.9711356163024902
['human: 1'] 0.9629136919975281
['human: 1'] 0.9561055302619934
['human: 1'] 0.8788124322891235
['human: 4'] 0.6010207533836365
['human: 4'] 0.5990103483200073
['human: 1'] 0.5897881984710693
['human: 1'] 0.5834859013557434
['human: 6'] 0.5589426755905151

Search for 'human: 6'
[label] distance
['human: 6'] 0.9585026502609253
['human: 6'] 0.8690930008888245
['human: 6'] 0.6880456209182739
['human: 6'] 0.6624029278755188
['human: 4'] 0.564928412437439
['human: 4'] 0.5623241662979126
['human: 4'] 0.5585187673568726
['human: 3'] 0.5411080718040466
['human: 3'] 0.5396809577941895
['human: 0'] 0.5341933369636536

Search for 'human: 0'
[label] distance
['human: 0'] 0.5228403210639954
['human: 0'] 0.28860214352607727
['human: 5'] 0.2753247618675232
['human: 0'] 0.273336797952652
['human: 5'] 0.26616549491882324
['human: 0'] 0.2660927474498749
['human: 5'] 0.26493266224861145
['human: 1'] 0.2620023488998413
['human: 1'] 0.25886890292167664
['human: 1'] 0.25540465116500854

Search for 'human: 6'
[label] distance
['human: 6'] 0.44523316621780396
['human: 6'] 0.4447862505912781
['human: 6'] 0.34046152234077454
['human: 6'] 0.34046152234077454
['human: 2'] 0.3341520130634308
['human: 6'] 0.3337559103965759
['human: 2'] 0.3288792073726654
['human: 2'] 0.3285311758518219
['human: 2'] 0.327978253364563
['human: 6'] 0.3272181451320648

Search for 'human: 4'
[label] distance
['human: 4'] 0.547831118106842
['human: 0'] 0.42217257618904114
['human: 1'] 0.3835963010787964
['human: 1'] 0.38274842500686646
['human: 5'] 0.3803880512714386
['human: 0'] 0.38024136424064636
['human: 5'] 0.3792631924152374
['human: 5'] 0.37752118706703186
['human: 4'] 0.37243974208831787
['human: 4'] 0.3712049722671509

Search for 'human: 4'
[label] distance
['human: 4'] 0.9443944096565247
['human: 4'] 0.855256974697113
['human: 4'] 0.8170849084854126
['human: 4'] 0.761267900466919
['human: 4'] 0.7514246702194214
['human: 4'] 0.751309871673584
['human: 4'] 0.7113007307052612
['human: 4'] 0.695239245891571
['human: 4'] 0.6855788826942444
['human: 4'] 0.6617913842201233

Search for 'human: 4'
[label] distance
['human: 4'] 0.8863165378570557
['human: 4'] 0.8107112646102905
['human: 4'] 0.6157439947128296
['human: 5'] 0.3936389684677124
['human: 0'] 0.38912466168403625
['human: 0'] 0.38901421427726746
['human: 6'] 0.3739807605743408
['human: 6'] 0.3694756329059601
['human: 0'] 0.36722564697265625
['human: 0'] 0.3651857078075409

Search for 'human: 4'
[label] distance
['human: 4'] 0.9750650525093079
['human: 4'] 0.917722225189209
['human: 4'] 0.6932716369628906
['human: 4'] 0.58705735206604
['human: 4'] 0.5813706517219543
['human: 4'] 0.5652733445167542
['human: 4'] 0.5508490800857544
['human: 4'] 0.5505164861679077
['human: 4'] 0.5319580435752869
['human: 4'] 0.5122538208961487

Search for 'human: 4'
[label] distance
['human: 4'] 0.5433626174926758
['human: 4'] 0.5413291454315186
['human: 4'] 0.5405317544937134
['human: 4'] 0.4848265051841736
['human: 4'] 0.3655065894126892
['human: 6'] 0.3561324179172516
['human: 4'] 0.3401263952255249
['human: 4'] 0.3362541198730469
['human: 2'] 0.3341509699821472
['human: 6'] 0.3320785164833069

Search for 'human: 2'
[label] distance
['human: 2'] 0.8956040740013123
['human: 2'] 0.786155104637146
['human: 2'] 0.6936513781547546
['human: 2'] 0.6936513781547546
['human: 2'] 0.6632592678070068
['human: 2'] 0.6242187023162842
['human: 2'] 0.36682331562042236
['human: 6'] 0.3438706398010254
['human: 5'] 0.34329184889793396
['human: 5'] 0.3391764461994171

Search for 'human: 3'
[label] distance
['human: 3'] 0.9155896902084351
['human: 4'] 0.47078585624694824
['human: 4'] 0.47043168544769287
['human: 3'] 0.4430820345878601
['human: 3'] 0.442610502243042
['human: 2'] 0.4361966848373413
['human: 2'] 0.433763325214386
['human: 4'] 0.43178117275238037
['human: 5'] 0.42457419633865356
['human: 3'] 0.4206104874610901

Search for 'human: 0'
[label] distance
['human: 0'] 0.9888718724250793
['human: 0'] 0.9823843836784363
['human: 0'] 0.7576547861099243
['human: 0'] 0.7065188884735107
['human: 0'] 0.6825615167617798
['human: 0'] 0.5103759169578552
['human: 0'] 0.508694052696228
['human: 5'] 0.503524899482727
['human: 4'] 0.49091580510139465
['human: 4'] 0.4884316921234131

#### 2. Compare Similarity

According to IP distance value got from similarity search in Milvus, we can compare similarities between organisms.

Query search to get embeddings in each Milvus partition of chimp & dog. For now, Milvus2.0 does not support to output embeddings directly.

In [ ]:
"""
expr_chimp = f"pk in {DNA_chimp.primary_keys}"       
query_chimp = DNA_collection.query(expr_chimp)

expr_dog = f"pk in {DNA_dog.primary_keys}"       
query_dog = DNA_collection.query(expr_dog)
"""

Search top 3 results for 800 chimp/dog vectors in human partition. Average distances to reflect how close between chimp/dog and human DNA sequences. The larger the IP distance, the closer between organisims with respect to DNA sequence.

In [36]:
chimp_res = DNA_collection.search(chimp_emb[:800], "embedding", search_params,
                                    limit=1, partition_names=['human'])
dog_res = DNA_collection.search(dog_emb[:800], "embedding", search_params,
                                    limit=1, partition_names=['human'])

def similarity(search_res):
    total_d = 0
    for hits in search_res:
        total_d = total_d + sum(hits.distances)/len(hits)
    return total_d/(len(search_res))

print('chimp-human similarity score:', similarity(chimp_res))
print('dog-human similarity score:', similarity(dog_res))

chimp-human similarity score: 0.9690521497279405
dog-human similarity score: 0.7043271789699793

From above similarity scores from milvus, we can tell that chimpanzee is closer to human compared to dog, fitting the [biological research facts](https://education.seattlepi.com/animals-share-human-dna-sequences-6693.html) "...humans share 98.8 percent of their DNA with bonobos and chimpanzees...Humans and dogs share 84 percent of their DNA"